* {
    margin: 0;
    padding: 0;
}

.todo {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    width: fit-content;
}

.title--todo >*{
    margin-block: 10px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-block: 33px;
}

form input {
    font-size: 18px;
    padding: 7px;
}

.todos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-button {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo-button button {
    font-size: 16px;
    border: solid 1px black;
    padding: 5px;
}

#done {
    background-color: rgba(79, 147, 235, 0.849);
}

#remove {
    background-color: rgba(204, 40, 73, 0.788);
}